* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
}
body.loaded {
  margin: 20px 40px;
  transition: margin ease 1.5s;
}

html {
  scroll-behavior: smooth;
}

@keyframes logo_load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes nav_load {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #8892b0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccd6f6;
}

header {
  display: flex;
  position: sticky;
  background: #0a192f;
  top: 0px;
  z-index: 20;
  margin: 20px 0px 0px 0px;
  align-items: center;
  animation: fadein 1s ease-out 0s 1;
}

header .logo img {
  max-height: 50px;
}
header .logo_name {
  color: #4ec5af;
  font-size: 25px;
  margin-left: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  animation: logo_load 1s ease 0s 1;
}

header .nav {
  margin-left: auto;
  opacity: 1;
  animation: nav_load 1s ease 0s 1, fadein 4s ease 0s 1;
}

header .nav ul {
  display: flex;
}

header .bx-menu {
  color: #4ec5af;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  display: none;
}

header .nav a {
  text-decoration: none;
  display: block;
  padding: 15px;
  margin-right: 5px;
  color: #ccd6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .nav a:last-child {
  margin-right: 0;
}

header .nav a:hover:not(.active) {
  color: #4ec5af;
}

header .nav li a.active {
  color: #4ec5af;
  border-bottom: 2px solid #4ec5af;
}

header .nav li {
  display: inline-block;
}

header .nav ul li a:not(.active):after {
  content: "";
  display: block;
  margin: 15px auto 0 auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

header .nav ul li a:hover:not(.active):after {
  width: 100%;
  background: #4ec5af;
}

.flex-container {
  display: flex;
  margin-top: 100px;
  position: relative;
}

.left-side {
  flex: 20%;
  font-size: 30px;
  padding-top: 40px;
  align-self: flex-start;
  position: sticky;
  top: 250px;
}

.left-side ul li {
  list-style-type: none;
  padding: 5px;
}

.left-side ul li a {
  text-decoration: none;
  color: #8892b0;
}

.left-side ul li a:hover {
  color: #4ec5af;
}

.left-side .vertical {
  border-left: 2px solid #8892b0;
  height: 100%;
  position: absolute;
  left: 18px;
  bottom: -250px;
}

.content {
  flex: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h1 {
  color: #ccd6f6;
  line-height: 1.5;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h3 {
  line-height: 3;
  color: #4ec5af;
}

.content p {
  color: #ccd6f6;
  line-height: 1.6;
  font-size: 20px;
}

.content a.button {
  text-decoration: none;
  line-height: 6;
  padding: 15px;
  border: 2px solid #4ec5af;
  color: #4ec5af;
}

.content .heading {
  color: #4ec5af;
  font-size: 30px;
  position: relative;
  line-height: 2;
}

.content .heading:after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background: #4ec5af;
  position: absolute;
  left: 150px;
  top: 50%;
}

.content .aboutGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutGrid .profile-image img {
  height: 350px;
  width: 300px;

  padding: 5px;

  border-radius: 8px;
}

.profile-image .img-area {
  position: relative;
  display: block;
  height: 350px;
  width: 300px;
  border: 2px solid #4ec5af;
  padding: 5px;
  margin: 0 0 100px 100px;
  border-radius: 8px;
}

.profile-image .img-area .overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: #4ec5af;
}

.profile-image .img-area:hover .overlay {
  opacity: 0;
}

.content .aboutGrid p {
  margin-right: 0px;
}
.content p {
  margin-right: 200px;
  text-align: justify;
}

.content .gridforSkill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 200px 20px 0px;
  justify-content: space-between;
  color: #ccd6f6;
}

.content .gridforSkill .sp {
  grid-area: 3/1/3/4;
}

.content .gridforSkill .flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
}

.content .gridforSkill i {
  color: #ccd6f6;
  font-size: 50px;
}

.content .gridforSkill .desc {
  font-size: 20px;
  color: #8892b0;
}

.content .gridforSkill .flex-box:hover i {
  color: #4ec5af;
}

.project-container {
  display: flex;
  margin: 30px 0;
}

.project-container .project-image img {
  max-width: 550px;
  height: 300px;
  border: 2px solid #4ec5af;
  border-radius: 8px;
}

.project-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -150px;
}

.project-desc .title {
  color: #ccd6f6;
  margin-left: auto;
}

.project-desc .title-desc {
  position: relative;
  z-index: 10;
  color: #8892b0;
  background-color: #112240;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-desc .title-desc div {
  margin: 10px;
}
.project-desc .techs {
  margin-left: auto;
  margin-top: 10px;
  color: #ccd6f6;
}

.project-desc .git-link {
  margin-left: auto;
  margin-top: 10px;
}

.project-desc .git-link a {
  color: #8892b0;
  text-decoration: none;
}

#contact .contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 50px;
}

.right-side {
  flex: 10%;
  color: #8892b0;
  align-self: flex-start;
  position: sticky;
  top: 250px;
}

.right-side .gmail {
  transform: translateX(150px) rotate(90deg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 150px;

  position: relative;
  right: 18px;
}

.right-side .gmail a {
  text-decoration: none;
  color: #8892b0;
}

.right-side .gmail a:hover {
  color: #4ec5af;
}

.right-side .vertical {
  border-left: 2px solid #8892b0;
  height: 300px;
  position: absolute;
  right: 73px;
  bottom: -350px;
}

@media only screen and (max-width: 950px) {
  .left-side {
    display: none;
  }
  .right-side {
    display: none;
  }

  header .bx-menu {
    display: block;
    cursor: pointer;
  }

  header .nav {
    position: absolute;
    opacity: 0;
  }

  /* remember top is 40px*/
  header .close {
    background-color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 1s ease;
  }

  header .close ul {
    flex-direction: column;
  }

  header .nav {
    animation: none;
  }
}
